@use "sass:meta";
@use "../../node_modules/nord/src/sass/nord.scss";

$orange: #783c26;
$yellow: nord.$nord13;
$green: nord.$nord14;
$turquoise: nord.$nord8;
$cyan: nord.$nord9;
$blue: nord.$nord10;
$purple: nord.$nord15;
$red: nord.$nord11;

$black: nord.$nord0;
$black-bis: nord.$nord1;
$black-ter: nord.$nord2;

$white: nord.$nord6;
$white-bis: nord.$nord5;
$white-ter: nord.$nord4;

$link: #466695;

$grey-darker: darken(nord.$nord3, 5%);
$grey-dark: nord.$nord3;
$grey: lighten(nord.$nord3, 25%);
$grey-light: lighten(nord.$nord3, 35%);
$grey-lighter: lighten(nord.$nord3, 48%);

$family-serif: "Raleway", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
Geneva, Arial, sans-serif;
$family-monospace: "Raleway", "Lucida Grande", "Lucida Sans Unicode",
"Lucida Sans", Geneva, Arial, sans-serif;
$body-family: "Raleway", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
Geneva, Arial, sans-serif;

:root {
  --ifm-background-color: #{nord.$nord6};
  --ifm-color-primary: #{$orange};
  --ifm-color-primary-dark: #{nord.$nord5};
  --ifm-color-primary-darker: #{nord.$nord4};
  --ifm-color-primary-darkest: #{nord.$nord3};
  --ifm-menu-color-active: #{$orange};
  --ifm-link-color: #{$link};
  --ifm-link-hover-color: #{$orange};
  --ifm-navbar-background-color: #{$white-bis};
  --ifm-footer-background-color: #{$white-bis};
  --ifm-breadcrumb-item-background-active: #{$white-bis};
  --ifm-breadcrumb-color-active: #{$orange};

  --ifm-font-family-base: #{meta.inspect($family-serif)};
  --ifm-font-family-monospace: #{meta.inspect($family-monospace)};
  --ifm-font-size-base: 1em;
  --ifm-link-decoration: underline;
  --ifm-transition-fast: 100ms;
}

[data-theme="dark"] {
  --ifm-background-color: #{nord.$nord0};
  --ifm-color-primary: #{nord.$nord6};
  --ifm-color-primary-dark: #{nord.$nord5};
  --ifm-color-primary-darker: #{nord.$nord4};
  --ifm-color-primary-darkest: #{nord.$nord3};
  --ifm-menu-color-active: #{nord.$nord6};
  --ifm-link-color: #{nord.$nord4};
  --ifm-link-hover-color: #{nord.$nord6};
  --ifm-navbar-background-color: #{nord.$nord3};
  --ifm-footer-background-color: #{nord.$nord3};
  --ifm-breadcrumb-item-background-active: #{nord.$nord0};
  --ifm-breadcrumb-color-active: #{nord.$nord6};

  .navbar__logo img {
    transform: scaleX(-1);
  }
}

