@use "../node_modules/include-media/dist/include-media";
@use "mixins" as m;
@use "variables" as v;

article.post {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  border: 1px solid v.$white-ter;
  background-color: v.$white-bis;
  border-radius: v.$radius;
  box-shadow: 0 0 1px v.$black;
  padding: 1rem;
  margin-bottom: 1rem;
  .header {
    .title {
      font-weight: 700;
      color: v.$cyan;
      &:hover {
        color: v.$cyan;
      }
    }
    .subtitle {
      font-size: 0.75rem;
    }
  }
}

@include include-media.media("<tablet") {
  article.post {
    display: block;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: flex-start;
  align-items: center;
  .tag {
    align-items: center;
    background-color: v.$white-ter;
    border-radius: v.$radius;
    border: solid 1px;
    color: v.$black;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .5em;
    padding-right: .5em;
    white-space: nowrap;
    font-size: 0.75em;
    &:hover {
      background-color: v.$cyan;
      color: v.$black;
    }
  }
}

nav.pagination {
  display: flex;
  .pagination-list {
    display: flex;
    gap: .5rem;
    .pagination-link {
      align-items: center;
      background-color: v.$white-ter;
      border-radius: v.$radius;
      border: solid 1px;
      color: v.$black;
      display: inline-flex;
      height: 2em;
      justify-content: center;
      line-height: 1.5;
      margin: .25em;
      min-width: 2em;
      white-space: nowrap;
      font-size: 0.75em;
        &.is-current {
            background-color: v.$cyan;
            color: v.$black;
        }
    }
  }
}
