article.post {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid $white-ter;
  background-color: $white-bis;
  border-radius: $radius;
  box-shadow: 0 0 1px $black;
  padding: 1rem;
  margin-bottom: 1rem;
}

@include media("<tablet") {
  article.post {
    display: block;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: flex-start;
  align-items: center;
  .tag {
    align-items: center;
    background-color: $white-ter;
    border-radius: $radius;
    border: solid 1px;
    color: $black;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .5em;
    padding-right: .5em;
    white-space: nowrap;
    font-size: 0.75em;
  }
}

.accent,
.dropcap {
  font-family: $font-family-primary;
  color: $accent-color;
  text-shadow: $nord1 0.05em 0.05em;
}

.dropcap {
  float: left;
  font-size: 6rem;
  line-height: 1;
  margin: 0.1em 0.1em 0.2em 0;
  padding: 0.1em;
}

.dropcap:before,
.dropcap:after {
  content: "";
  display: block;
}

.dropcap:before {
  margin-top: -0.2em;
}

.dropcap:after {
  margin-bottom: -0.15em;
}

nav.pagination {
  display: flex;
  .pagination-list {
    display: flex;
    gap: .5rem;
    .pagination-link {
      align-items: center;
      background-color: $white-ter;
      border-radius: $radius;
      border: solid 1px;
      color: $black;
      display: inline-flex;
      height: 2em;
      justify-content: center;
      line-height: 1.5;
      margin: .25em;
      min-width: 2em;
      white-space: nowrap;
      font-size: 0.75em;
        &.is-current {
            background-color: $cyan;
            color: $black;
        }
    }
  }
}
