@use "mixins" as m;
@use "variables" as v;

html.dark {
  background-color: v.$black-bis;
  color: v.$white;

  .moon {
    visibility: hidden;
    display: none;
  }

  .sun {
    visibility: visible;
    display: block;
  }

  img {
    filter: brightness(0.8);
  }

  figure.me img {
    transform: scaleX(-1);
  }

  .hero {
    .description {
      h1 {
        @include m.fancyTitle(v.$purple, v.$turquoise);
      }
    }
  }

  ul.posts {
    li {
      a {
        .date {
          color: v.$white;
        }
      }
    }
  }

  .title,
  .subtitle {
    color: v.$white;
  }

  .content {
    table thead th {
      color: v.$white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: v.$white;
    }

    blockquote {
      background-color: v.$black-quad;
    }
  }

  body,
  .navbar-menu {
    background-color: v.$black-bis;
    color: v.$white;
  }

  a, .has-text-black {
    color: v.$white-ter;
  }

  .navbar {
    .navbar-menu {
      a.navbar-item {
        &.is-active {
          color: v.$black-quad;
        }

        &:hover {
          color: v.$black-quad;
        }
      }

      button.navbar-item {
        background-color: v.$black-bis;
        color: v.$white-bis;

        &:hover {
          background-color: v.$white-bis;
          color: v.$link-color;
        }
      }

    }
  }

  strong {
    color: v.$white;
  }


  em {
    color: v.$orange;
  }

  a:hover {
    color: v.$orange;
  }

  .accent,
  .dropcap {
    @include m.fancyTitle(v.$purple, v.$turquoise);
  }

  footer.footer {
    background-color: v.$black-bis;
  }

  article.post {
    background-color: v.$black-quad;
  }

  .tags {
    .tag {
      color: v.$white;
    }
  }

  .message-body {
    em, a {
      color: v.$black;
    }

  }

  .is-info {
    .message-body {
      border-color: v.$blue;
      background-color: lighten(v.$blue, 30%);
      color: v.$black;
    }
  }
}
