html.dark {
  background-color: $black-bis;
  color: $white;

  .moon {
    visibility: hidden;
    display: none;
  }

  .sun {
    visibility: visible;
    display: block;
  }

  img {
    filter: brightness(0.8);
  }

  figure.me img {
    transform: scaleX(-1);
  }

  .title,
  .subtitle {
    color: $white;
  }

  .content {
    table thead th {
      color: $white;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white;
    }

    blockquote {
      background-color: $black-quad;
    }
  }

  body,
  .navbar-menu,
  .navbar-brand {
    background-color: $black-bis;
    color: $white;
  }

  a,
  .has-text-black,
  .navbar-burger,
  .has-text-grey-darker,
  .pagination-link,
  .pagination-next,
  .pagination-previous {
    color: $white-ter;
  }

  .pagination-previous[disabled],
  .pagination-next[disabled] {
    background-color: $black;
    color: $white-ter;
  }

  .has-text-black,
  .has-text-grey-darker {
    color: $white-bis !important;
  }

  a.navbar-item.active {
    color: $black !important;
  }

  strong {
    color: $white;
  }

  em {
    color: $orange;
  }

  a:hover {
    color: $orange;
  }

  .accent,
  .dropcap {
    color: $orange;
    text-shadow: $white-ter 0.05em 0.05em;
  }

  footer.footer {
    background-color: $black-bis;
  }

  article.post {
    background-color: $black-quad;
  }

 .message-body a {
    color: $black;
  }
}
