@use "../node_modules/include-media/dist/include-media";
@use "variables" as v;
@use "mixins" as m;

.wrap {
  flex: 1 0 auto;
  @include m.wrap-container;
}

.footer {
  flex-shrink: 0;
  padding: 1rem;
  @include m.wrap-container;

  .left {
    float: left;
  }

  .right {
    float: right;
    display: flex;
    gap: 1em;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;

  .navbar-brand {
    flex-shrink: 0;
  }

  .navbar-menu {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: stretch;
    justify-content: space-between;
    gap: .5rem;

    .navbar-start {
      justify-content: flex-start;
      display: flex;
      align-items: stretch;
      gap: .5rem;
    }

    .navbar-end {
      justify-content: flex-end;
    }

    a.navbar-item {
      padding: 0.5rem 0.75rem;
      border: 1px solid v.$white-ter;
      border-radius: v.$radius * 2;

      &.is-active {
        background-color: v.$white-bis;
        color: v.$text-color;
        text-decoration: none;
      }

      &:hover {
        background-color: v.$white-bis;
        color: v.$text-color;
      }
    }

    button.navbar-item {
      padding: 0.5rem;
      border: 1px solid v.$white-ter;
      background-color: v.$white;
      color: v.$link-color;
      border-radius: 50%;

      &:hover {
        background-color: v.$text-color;
        color: v.$white-bis;
      }

      svg {
        margin: 0;
        width: 24px;
        height: 24px;
      }
    }
  }
}

.level {
  display: flex;
  justify-content: space-between;

  .left {
    align-self: flex-start;
  }

  .right {
    align-self: flex-end;
  }
}

.columns {
  display: flex;

  .column {
    display: block;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    padding: .75rem .75rem .75rem 0;


    &.is-three-quarters {
      flex: none;
      width: 75%;
    }

    &.is-half {
      flex: none;
      width: 50%;
    }
  }
}

@include include-media.media("<tablet") {
  .navbar {
    .navbar-item {
      font-size: .9rem;
    }
  }
  .columns {
    display: unset;

    .column {
      &.is-half, &.is-three-quarters {
        width: 100%;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .left,
    .right {
      display: inline;
    }

    .right {
      flex-direction: column;
    }
  }
}

