@charset "UTF-8";

@use "../node_modules/include-media/dist/include-media";

@use "reset";
@use "variables" as v;
@use "elements";
@use "components";
@use "layout";
@use "content";
@use "dark";

.highlight {
  margin-bottom: 1em;
}

.copy-code {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  border-radius: v.$radius;
  user-select: none;
}

.highlight pre {
  border-radius: v.$radius;
}

.highlight, pre {
  position: relative;
}

div.highlight:hover .copy-code, pre:hover .copy-code {
  display: block;
}

.hello {
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;

  .title {
    grid-column-start: 1;
    grid-column-end: 3;

    font-size: 3rem;
  }

  .image {
    grid-column-start: 4;
    justify-self: right;
  }

  .subtitle {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
  }
}

@include include-media.media(">=tablet", "<desktop") {
  .hello {
    grid-template-columns: 20% 20%;

    .image {
      justify-self: right;
    }

    .subtitle {
      grid-column-end: 4;
    }
  }

  :root {
    --wrap-width: 740px;
  }
}

@include include-media.media("<tablet") {
  .hello {
    grid-template-columns: 30% 20%;

    .subtitle {
      grid-column-end: 4;
    }
  }

  :root {
    --wrap-width: 350px;
  }
}

#toggle {
  background: transparent;
}

/* https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sun {
  visibility: hidden;
  display: none;
}

.me:hover {
  transform: scaleX(-1);
}

figure.me {
  width: 128px;
  height: 128px;
}

.anchor a {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.anchor:hover a {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.book {
  display: flex;
  gap: 0.5em;
}

.book-cover {
  width: 20%;
}

.book-review {
  width: 80%;
}

@include include-media.media("<=tablet") {
  .book {
    flex-direction: column;
  }
}
