@mixin container {
  margin-left: auto;
  margin-right: auto;
  width: var(--wrap-width);
}

@mixin fancyTitle($from, $to) {
  background-image: linear-gradient(180deg, $from, $to);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
