{{ define "main" }}
  <section>
    <h1>{{ title .Title }}</h1>
    {{ if ne .Description "" }}
      <p class="subtitle">{{ .Description }}</p>
    {{ end }}
    <div class="columns">
      <div class="column">
          {{ if .Content }}
            <p>{{ .Content }}</p>
          {{ end }}
          <ul class="posts">
            {{ range .Pages }}
              <li>
                <span
                  ><a href="{{ .Permalink }}">{{ .Title }}<span></span></a>
              </li>
            {{ end }}
          </ul>
      </div>
    </div>
  </section>
{{ end }}
