{{ define "main" }}
  <section>
    <h1>{{ title .Title }}</h1>
    {{ if ne .Description "" }}
      <p class="subtitle">{{ .Description }}</p>
    {{ end }}
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="content">
          {{ if .Content }}
            <p>{{ .Content }}</p>
          {{ end }}
          <ul>
            {{ range .Pages }}
              <li>
                <span
                  ><a href="{{ .Permalink }}">{{ .Title }}</a>
                  <span class="is-italic is-size-6"
                    >{{ .Date | time.Format ":date_long" }}</span
                  ></span
                >
              </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ end }}
