<footer class="footer">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="content">
          Built with 🧡 and <a href="/credits">technology</a>
        </div>
      </div>
    </div>

    <div class="level-right">
      <div class="level-item">
        <a href="mailto:ciao@lucapette.me">
          <span class="has-text-black">
            <i icon-name="mail" aria-hidden="true"></i>
            <span class="sr-only">Email</span>
          </span>
        </a>
      </div>
      <div class="level-item">
        <a href="https://twitter.com/lucapette">
          <span class="has-text-black">
            <i icon-name="twitter" aria-hidden="true"></i>
            <span class="sr-only">Twitter</span>
          </span>
        </a>
      </div>
      <div class="level-item">
        <a href="https://github.com/lucapette">
          <span class="has-text-black">
            <i icon-name="github" aria-hidden="true"></i>
            <span class="sr-only">GitHub</span>
          </span>
        </a>
      </div>
      <div class="level-item">
        <a href="https://www.linkedin.com/in/lucapette/">
          <span class="has-text-black">
            <i icon-name="linkedin" aria-hidden="true"></i>
            <span class="sr-only">Linkedin</span>
          </span>
        </a>
      </div>
      <div class="level-item">
        <a rel="me" href="https://hachyderm.io/@lucapette">
          <span class="has-text-black">
            <span class="sr-only">Mastodon</span>
          </span>
        </a>
      </div>
    </div>
  </nav>
</footer>

{{ if eq .Kind "page" }}
  <div class="copy-code" style="display: hidden"></div>
  <script>
    document.querySelectorAll("pre > code").forEach((codeBlock) => {
      const copyButton = document.createElement("button");
      copyButton.classList.add("copy-code");
      copyButton.innerHTML = "copy";

      function copyingDone() {
        copyButton.innerHTML = "copied!";
        setTimeout(() => {
          copyButton.innerHTML = "copy";
        }, 2000);
      }

      copyButton.addEventListener("click", (cb) => {
        if ("clipboard" in navigator) {
          navigator.clipboard.writeText(codeBlock.textContent);
          copyingDone();
          return;
        }

        const range = document.createRange();
        range.selectNodeContents(codeBlock);
        const selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);
        try {
          document.execCommand("copy");
          copyingDone();
        } catch (e) {}
        selection.removeRange(range);
      });

      const container = codeBlock.parentNode.parentNode;

      container.appendChild(copyButton);
    });
  </script>
{{- end }}
