<footer class="footer">
  <div class="left">Built with 🧡 and <a href="/credits">technology</a></div>

  <div class="right">
    <a href="mailto:ciao@lucapette.me">
      <span class="has-text-black">
        <i data-lucide="mail" aria-hidden="true"></i>
        <span class="sr-only">Email</span>
      </span>
    </a>
    <a href="https://twitter.com/lucapette">
      <span class="has-text-black">
        <i data-lucide="twitter" aria-hidden="true"></i>
        <span class="sr-only">Twitter</span>
      </span>
    </a>
    <a href="https://github.com/lucapette">
      <span class="has-text-black">
        <i data-lucide="github" aria-hidden="true"></i>
        <span class="sr-only">GitHub</span>
      </span>
    </a>
    <a href="https://www.linkedin.com/in/lucapette/">
      <span class="has-text-black">
        <i data-lucide="linkedin" aria-hidden="true"></i>
        <span class="sr-only">Linkedin</span>
      </span>
    </a>
    <a rel="me" href="https://hachyderm.io/@lucapette">
      <span class="has-text-black">
        <span class="sr-only">Mastodon</span>
      </span>
    </a>
  </div>
</footer>

{{ if eq .Kind "page" }}
  <script>
    document.querySelectorAll("pre > code").forEach((codeBlock) => {
      const copyButton = document.createElement("button");
      copyButton.classList.add("copy-code");
      copyButton.innerHTML = "copy";

      function copyingDone() {
        copyButton.innerHTML = "copied!";
        setTimeout(() => {
          copyButton.innerHTML = "copy";
        }, 2000);
      }

      copyButton.addEventListener("click", (cb) => {
        if ("clipboard" in navigator) {
          navigator.clipboard.writeText(codeBlock.textContent);
          copyingDone();
          return;
        }

        const range = document.createRange();
        range.selectNodeContents(codeBlock);
        const selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);
        try {
          document.execCommand("copy");
          copyingDone();
        } catch (e) {}
        selection.removeRange(range);
      });

      const container = codeBlock.parentNode.parentNode;

      container.appendChild(copyButton);
    });
  </script>
{{- end }}
