<article class="post">
  <div class="header">
    <h3 class="title">
      <a class="has-text-grey-darker" href="{{ .Permalink }}">{{ .Title }}</a>
    </h3>
    <h4 class="subtitle is-italic">
      {{ .Date | time.Format ":date_long" }}
    </h4>
  </div>

  <div class="content">
    <p>{{ .Description }}</p>
  </div>

  <nav class="level">
    <div class="left">
      <div class="tags">
        {{ range .Params.tags }}
          {{ $url := . | urlize }}
          <a class="tag" href="/tags/{{ $url }}">#{{ $url }}</a>
        {{ end }}
      </div>
    </div>

    <div class="right">
      <a href="{{ .Permalink }}">Read more...</a>
    </div>
  </nav>
</article>
