<!doctype html>
<html lang="en">
  {{ partial "head" . }}

  <body>
    <div class="wrap">
      {{ partial "header" . }}


      <section>
        <div class="has-text-centered">
          <span class="accent" style="font-size: 8em">404</span>
          <h1 class="title">This page doesn't exist.</h1>
        </div>
      </section>
      <section>
        <div>
          <h2 class="has-text-centered">
            Check out a selection of my favourite writing:
          </h2>
          <ul class="has-text-centered">
            {{ range (where .Site.Pages.ByLastmod.Reverse "Params.favourite" true ) }}
              <li>
                <a class="is-size-4" href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
      </section>
    </div>

    {{ partial "footer" . }}
  </body>
</html>
