<!doctype html>
<html lang="en">
  {{ partial "head" . }}


  <body>
    {{ partial "theme" . }}
    <div class="wrap">
      {{ partial "header" . }}


      <section>
        <div class="hello">
          <h1 class="title">
            Hi!
            I'm Luca :)
          </h1>
          <figure class="me image">
            {{ $image := resources.Get "me.png" }}
            {{ $small := $image.Resize "128x128 webp q90" }}
            {{ $medium := $image.Resize "256x256 webp q90" }}
            <img
              src="{{ $small.RelPermalink }}"
              srcset="
                {{ $small.RelPermalink }} 128w,
                {{ $medium.RelPermalink }} 256w
              "
              sizes="(max-width: 600px) 128px, 800px"
              alt="Luca Pette"
              width="128"
              height="128"
            />
          </figure>

          <p class="subtitle">
            I'm a freelance software developer living in Berlin, Germany. I use
            this website to share my
            <a href="/writing">writing</a>.
          </p>
        </div>
      </section>
      <section>
        <div class="columns">
          <div class="column is-half">
            <div class="content">
              <h2>Latest writing</h2>
              <ul>
                {{ range first 5 (where site.RegularPages "Type" "in" "writing") }}
                  <li>
                    <a class="is-size-4" href="{{ .Permalink }}"
                      >{{ .Title }}</a
                    >
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
          <div class="column is-half">
            <div class="content">
              <h2>My favourite writing</h2>
              <ul>
                {{ range (where .Site.Pages.ByLastmod.Reverse "Params.favourite" true ) }}
                  <li>
                    <a class="is-size-4" href="{{ .Permalink }}"
                      >{{ .Title }}</a
                    >
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>

    {{ partial "footer" . }}
  </body>
</html>
