{{ define "main" }}
  <section>
    <h1>{{ .Title }}</h1>
    <h2 class="subtitle">{{ .Description }}</h2>
  </section>
  <section>
    <div class="columns">
      <div class="column is-8">
        {{ $paginator := .Paginate .Pages }}
        {{ range $paginator.Pages }}
          {{ partial "post" . }}
        {{ end }}
        {{ template "partials/pagination.html" . }}
      </div>

      <div class="column">
        {{ $tags := $.Site.Taxonomies.tags.ByCount }}
        <div class="tags">
          {{ range $tags }}
            {{ if .Term }}
              {{ $tagURL := printf "tags/%s" .Term | relURL |urlize }}
              <a href="{{ $tagURL }}" class="tag"
                >#{{ .Term }} <span class="badge">&nbsp;({{ .Count }})</span></a
              >
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
