{{ define "main" }}
  <section>
    <h1>{{ .Title }}</h1>
    <div class="columns">
      <div class="column">
        {{ range .Pages.GroupByDate "2006" }}
          <h2 class="year">{{ .Key }}</h2>
          <ul class="posts">
            {{ range .Pages }}
              <li class="post">
                <a href="{{ .Permalink }}"
                  ><span>{{ .Title }}</span>
                  <span class="date"
                    >{{ .Date | time.Format "Jan 02" }}</span
                  ></a
                >
              </li>
            {{ end }}
          </ul>
        {{ end }}

      </div>
    </div>
  </section>
{{ end }}
