{{ define "main" }}
  <section>
    <div class="columns">
      <div class="column">
        <h1 class="title">{{ .Title }}</h1>

        <nav class="level">
          <div class="left">
            <p class="is-size-6">
              Published in
              {{ $n := sub (.Params.tags | len) 1 }}
              {{ range $index, $tag := sort .Params.tags }}
                <a href="/tags/{{ urlize . }}">#{{ $tag }}</a>
                {{- if lt $index $n }},{{ end }}
              {{ end }}
              on
              {{ .Date | time.Format ":date_medium" }}
            </p>
          </div>
          {{ if ne .Date .Lastmod }}
            <div class="right">
              <p class="is-size-6">
                Updated on
                {{ .Lastmod | time.Format ":date_medium" }}
              </p>
            </div>
          {{ end }}
        </nav>
        <hr />
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="columns">
      <div class="column">
        <div class="content">
          {{ partial "related" . }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
