{{ define "main" }}
  <section class="section">
    <div class="columns">
      <div class="column is-three-fifths-desktop">
        <h1 class="title is-1">{{ .Title }}</h1>

        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <p class="is-size-6">
                Published
                {{ with .Params.tags }}
                  in
                  {{ $sort := sort . }}
                  {{ $links := apply $sort "partial" "tag" "." }}
                  {{ $clean := apply $links "chomp" "." }}
                  {{ delimit $clean ", " }}
                {{ end }}
                on
                {{ .Date | time.Format ":date_long" }}
              </p>
            </div>
          </div>
          {{ if ne .Date .Lastmod }}
            <div class="level-right">
              <div class="level-item">
                <p class="is-size-6">
                  Last edit on
                  {{ .Lastmod | time.Format ":date_long" }}
                </p>
              </div>
            </div>
          {{ end }}
        </nav>
        <hr />
      </div>
    </div>

    <div class="columns">
      <div class="column is-three-fifths-desktop">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="columns">
      <div class="column is-three-fifths-desktop">
        <div class="content">
          {{ partial "related" . }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
